* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.mainContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainCards{
	max-width: 1300px;
}


.cards {
	padding: 30px;
	display: flex;
	color: white;
	border-radius: 25px;
	box-shadow: 0 5px 10px black;
	position: relative;

	.foto {
		align-items: center;
	}

	img {
		border-radius: 50%;
	}
	h3 {
		margin: 20px 0;
		font-size: 30px;
	}
	p {
		font-size: 18px;
	}
	.quotation{
		position: absolute;
		top: 10px;
		right: 10px;
	}

}
.fotoWithName{
	display: flex;
	align-items: center;
	gap: 10px;
}
.daniel {
	// background-image: url("./images/bg-pattern-quotation.svg");
	// background-position: top right;
	// background-repeat: no-repeat;
	background-color: hsl(263, 55%, 52%);
	grid-area: Da;
	&-card{
		display: flex;
		flex-direction: column;
	}
	
}
.jonathan {
	background-color: hsl(217, 19%, 35%);
	grid-area: Jo;

}
.jeanette {
	background-color: white;
	color: black;
	grid-area: Ja;
	
}
.patrick {
	background-color: hsl(219, 29%, 14%);
	grid-area: Pa;
	
}
.kira {
	background-color: white;
	color: black;
	grid-area: K;
}

.daniels,
.patricks {
	border: 3px solid hsl(263, 55%, 52%);
}

@media (min-width: 1280px) {
	.mainCards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2,1fr);
		grid-template-areas: 
		"Da Da Jo K"
		"Ja Pa Pa K"
	}
}